{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Spend trends</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
	{% block Core_js %}
	<!-- You may want to add django-htmx from a CDN -->
	<script src="https://unpkg.com/htmx.org@1.6.1"></script>
	{% endblock Core_js %}
</head>

<body>
	{% block content %}
	{% endblock content %}
</body>

</html>
